* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

#header {
  text-align: center;
}

#header h1 {
  padding: 20px;
}

#header p {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#about-stats {
  max-width: 600px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
}

#about-stats #about-stats-title {
  width: 100%;
  padding: 5px;
}

#about-stats span {
  width: 100%;
}

table {
  margin: 0 auto;
  border-spacing: 0;
}

td {
  font-size: 10pt;
  padding: 5px 5px;
}

a {
  color: black;
}

.light-grey {
  background-color: #dddddd;
}

.deep-teal {
  background-color: #009688;
  color: white;
  font-weight: bold;
}

.light-teal {
  background-color: #b2dfdb;
}

.underline td {
  border-bottom: 1px solid black;
}
